.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  color: #fff;
  font-family: "Life Savers", cursive;
  font-size: 3rem;
  font-weight: 400;
  margin: 1rem 0;
}

.dices {
  background-color: #eb1d36;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.die {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.7rem;

  svg {
    color: #fff;
    cursor: pointer;
    font-size: 5rem;
  }

  p {
    color: #fff;
    font-size: 0.75rem;
    margin: 0;
  }
}

.die.disabled {
  svg,
  p {
    color: #cccccc;
  }
}

.die.enabled {
  &:hover {
    svg,
    p {
      color: rgb(243, 225, 225);
    }
  }
}

.buttons {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.8rem;
}

.remaining {
  background-color: #eb1d36;
  border-radius: 10px;
  padding: 0.6rem 0.8rem;

  p {
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
  }
}

.roll,
.newRound {
  background-color: #eb1d36;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  width: 60px;

  &:hover {
    background-color: #d5182e;
  }
}

.newRound.roundDisabled {
  background-color: #f37878;
}
